version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000 & 
             daphne -b 0.0.0.0 -p 8001 WebDjango.asgi:application"
    volumes:
      - .:/app
      - static_volume:/app/static
    expose:
      - "8000"
      - "8001"
    # env_file:
    #   # - .env
    depends_on:
      - redis
      - mongodb

  redis:
    image: redis:latest
    expose:
      - "6379"
    volumes:
      - redis_data:/data

  mongodb:
    image: mongo:latest
    expose:
      - "27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=huen
      - MONGO_INITDB_ROOT_PASSWORD=Huen1988

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  mongodb_data:
  redis_data:
  static_volume: 