version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8001 & 
             daphne -b 0.0.0.0 -p 8001 WebDjango.asgi:application"
    volumes:
      - .:/app
      - static_volume:/app/static
    expose:
      - "8001"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6380
    depends_on:
      - redis
      - mongodb
    networks:
      - app_network

  redis:
    image: redis:latest
    ports:
      - "6380:6380"  
    expose:
      - "6380"
    volumes:
      - redis_data:/data
    command: redis-server --port 6380
    networks:
      - app_network

  mongodb:
    image: mongo:latest
    expose:
      - "27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    networks:
      - app_network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    ports:
      - "81:80"
    depends_on:
      - web
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
  redis_data:
    driver: local
  static_volume:
    driver: local 