version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "daphne -b 0.0.0.0 -p 8001 --websocket-timeout 86400 --proxy-headers --access-log - WebDjango.asgi:application"
    volumes:
      - .:/app
      - static_volume:/app/static
    expose:
      - "8001"
    ports:
      - "8001:8001"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DJANGO_SETTINGS_MODULE=WebDjango.settings
      - PYTHONUNBUFFERED=1
    depends_on:
      - redis
      - mongodb
    networks:
      - app_network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"  
    expose:
      - "6379"
    volumes:
      - redis_data:/data
    command: redis-server --requirepass thongtruong232 --port 6379
    networks:
      - app_network

  mongodb:
    image: mongo:latest
    expose:
      - "27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    networks:
      - app_network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    ports:
      - "81:81"
    depends_on:
      - web
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local
  redis_data:
    driver: local
  static_volume:
    driver: local 